.Login {
  .logform {
    width: 600px;
  }
}
.Login .logform,
.signupForm {
  border: 1px solid red;
  width: 800px;
  padding: 30px;
  border-radius: 5px;
  margin: 30px auto;
  margin-top: 90px;
}
@media (max-width: 992px) {
  .Login .logform,
  .signupForm {
    width: 96%;
    padding: 30px 15px;
  }
}
